*, *:before, *:after {
  box-sizing: border-box;
}


@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('../caviardreams/caviardreams-webfont.woff2') format('woff2'),
         url('../caviardreams/caviardreams-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'caviar_dreamsbold';
    src: url('../caviardreams/caviardreams_bold-webfont.woff2') format('woff2'),
         url('../caviardreams/caviardreams_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'social_media_circledregular';
    src: url('../socialmedia/socialmedia-webfont.woff2') format('woff2'),
         url('../socialmedia/socialmedia-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html {
  font-family: 'Raleway', sans-serif;
  font-size: 1vh;
  box-sizing: border-box;

}

.container {
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0 auto;
  width: auto;
  font-family: 'Raleway';

}

.herobackground{
float:left;
}


ul.navbar {
  color: #07404C;
  font-family: 'caviar_dreamsbold';
  font-size: 2vh;
  margin: 0;
  padding: 0;
}

li.navbar {
  float: right;
  display: block;
  padding: 30px;
}

img.headshot{
  height: 150px;
  width: 150px;

}


body {
  font-family: 'Raleway', sans-serif;
  background-color: white;
}

p{
  font-size: 1.6rem;
  font-family: 'Raleway';
  padding-bottom: 10px;
  margin-left: 20%;
  margin-bottom: 5%;
}

h1 {
  font-family: 'caviar_dreamsbold';
  font-size: 3.9rem;
  font-style: bold;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-left: 20%;

}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2.4rem;
}


/*section{
  background-color: #CFCFCF ;
  color: #000 ;
  height: 20rem;
  margin-top: 1rem;
  padding: 10rem 0;
  padding-bottom: 2.5rem;
  font-size: 20px;
  font-family: 'Raleway';
}*/


a.button{
  background-color: #EAA166;
  border: none;
  color: #07404C;
  font-family: 'caviar_dreamsbold';
  padding: 15px 32px;
  font-size: 16px;
  margin-left: 275px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-decoration: none;
  /*height: 69px;
  margin: 75px;*/
  text-align: center;
  /*width: 210px;*/


}

section.navbar{
  background-color: white;
  float: right;
  top: 0;
}
section.hero{
  background-color: #BFD5DA;
}

section.capstone{
  background-color: #FDEACE;
  margin-top: 3%;
  margin-bottom: 3%;
  height: 484px;
  width: 50%;
  float:left;
  display:inline-block;



}

.capimage{
  height: 484px;
  width: 50%;
  float: right;
  display:inline-block;

}

section.commoncore{
  background-color: #FDEACE;
  display:inline-block;
  margin-top: 3%;
  margin-bottom: 3%;
  height: 484px;
  width: 50%;
  float: left;

}

.ccfimage{
  display:inline-block;
  height: 484px;
  width: 732px;
  width: 50%;
  float: right;

}

ul.footer{
  bottom: 0;
  height: 7rem;
  background-color: #BFD5DA;
  color: #07404C;
}

.social{
  height: 1px;
  float: right;
  padding: 30px;
}


/*@media screen and (min-width: 768px){
  .container {
    width: 70rem;
  }
}

@media screen and (min-width: 1025px){
  .container {
    margin: 0 auto;
    width: 98rem;
  }
}

section{
  float: left;
  margin: 1%;
  width: 98%;
}
