*, *:before, *:after {
  box-sizing: border-box;
}


@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('../caviardreams/caviardreams-webfont.woff2') format('woff2'),
         url('../caviardreams/caviardreams-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'caviar_dreamsbold';
    src: url('../caviardreams/caviardreams_bold-webfont.woff2') format('woff2'),
         url('../caviardreams/caviardreams_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'social_media_circledregular';
    src: url('../socialmedia/socialmedia-webfont.woff2') format('woff2'),
         url('../socialmedia/socialmedia-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html {
  font-family: 'Raleway', sans-serif;
  font-size: 1vh;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

body {
 background-color: white;
 font-family: 'Raleway', sans-serif;
}


.container {
  background-image: url("../img/heroshapes.png");
  background-size: 1440px;
  background-repeat: no-repeat;
  font-family: 'Raleway';
  height: 100vh;
  margin: 0 auto;
  max-width: 1440px;
}


.container2{
  /*background-image: url("../img/backgroundabout.png");
  background-repeat: no-repeat;
  /*background-position: 6.5% 0%;*/
  font-family: 'Raleway';
  height: 100vh;
  margin: 0 auto;
  max-width: 1440px;
}


/* NAVBAR (CD logo, name, navigation bar)*/

.mobilename{
  display: none;
}

.header-homepage{
  /*background-image: url("../img/heroshapes.png");*/
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  max-width: 1440px;
}


.header-other{
  background-repeat: no-repeat;
  background-size: cover;/*100% 70.1rem;*/
  display: flex;
  width: 100%;
  /*background-image: url("../img/heroshapes.png");*/
  /*background-position: 15% 0%;*/
}

.cdlogo{
  padding-right: 2%;
}

.landinglogo {
  flex: 1;
  padding-left: 19%;
  padding-right: 18%;
  padding-top: 1%;
  text-decoration: none;
}

.navigationbar {
  flex: 1;
  margin-left: 0 auto;
  margin-right: 0 auto;
}

.navbar{
  float: left;
  top: 0;
  text-decoration: none;
}

.navbar {
  color: #07404C;
  font-family: 'caviar_dreamsbold';
  font-size: 2.5vh;
}

.navbar:hover{
  color: #000000;
  text-decoration: underline;
}

.navbar {
  padding: 2rem;
}

/**********************HERO************************/
/* HERO HOMEPAGE*/
.hero{
  color: #07404C;
  display: flex;
  width: 100%;
}

.heroleft {
  flex: 1;
  margin-left:19%;
  margin-top: 2%;
}

.heroright{
  flex: 1;
  margin-left: 10%;
  margin-top: 10%;
}

.herorightipad{
  display: none;
}

img.headshot {
  padding-top: 0%;
  width: 70%;
}

/*HERO ABOUT*/
.hero-about{
  color: #07404C; /*dark green*/
  display: flex;
  margin-top: 5%;
}

.heroleft-about{
  flex: 1;
  padding-left: 14%;
}

.heroright-about{
  flex: 1;
}

img.headshot-about{
  margin-left: 0%;
  margin-top: 5%;
  width:30%;
}

/*HERO PROJECT*/


.logomobile{
  width: 0%;
}

.project-right-mobile{
  display: none;
}

.project-right-mobileccf{
  display: none;
}
.project-hero{
  color: #07404C; /*dark green*/
  display:flex;
  margin-top: 0%;
}

.project-heroccf{
  color: #07404C; /*dark green*/
  display:flex;
  margin-top: 0%;
}

.ccf-title{
  padding-bottom: 5%;
  margin-top: 0%;
  padding-top: 15%;
}

.ccf-text{
  padding-bottom: 5%;
  margin-top: 0%;

}

.tv-text{
  padding-bottom: 5%;
  margin-top: 0%;
  padding-right: 0;
}

.project-left{
  flex:1;
  margin-top: 5%;
  padding-left: 11%;
}

.project-leftccf{
  flex:1.2;
  padding-left: 7%;
}

.project-right{
  flex:1;
  margin-right: 21%;
  margin-top: 1%;
}

.tvtellhero2{
  width: 150%;
  padding-left: 10%;

}

.project-rightccf{
  flex:1;
  width: 100%;
  margin-left: 0%;
  margin-right: 1%;
}

.ccfdesktop{
  padding-top: 10%;
  width: 90%;
}

/* DEFAULT STYLES*/

.twolist{
  flex: 1;
  font-family: 'Raleway';
  font-size: 2.4rem;
  line-height: 3rem;
  margin-bottom: 5%;
  padding-bottom: 0%;
  width: 36rem;
}

.threelist{
  /*background-image: url("../img/crmcircle.png")
  background-repeat: no-repeat;
  background-size: contain;*/
  background-color: #FDEACE;
  border-radius: 300px;
  flex: 1;
  font-family: 'Raleway';
  font-size: 2rem;
  line-height: 4rem;
  margin-bottom: 5%;
  padding-top: 1%;
  padding-right: 3%;
  padding-left: 5%;
  padding-bottom: 5%;
}

.threelistccf{
  /*background-image: url("../img/crmcircle.png")
  background-repeat: no-repeat;
  background-size: contain;*/
  background-color: #FDEACE;
  border-radius: 300px;
  flex: 1;
  font-family: 'Raleway';
  font-size: 2rem;
  line-height: 4rem;
  margin-bottom: 5%;
  padding-top: 1%;
  padding-right: 3%;
  padding-left: 5%;
  padding-bottom: 5%;
}


p{
  font-family: 'Raleway';
  font-size: 2.4rem;
  line-height: 4rem;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0%;
  padding-left: 25%;
  padding-right: 25%;
}

h1 {
  font-family: 'caviar_dreamsbold';
  font-size: 3.9rem;
  font-style: bold;
  padding-bottom: 2%;
  padding-top: 20%;
  margin-left: 25%;
}

h2 {
  font-size: 3.125rem;
  font-family: 'caviar_dreamsbold';
  padding-bottom: 2%;
  padding-top: 2%;
  margin-left: 25%;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 2.4rem;
  line-height: 3rem;
  padding-bottom: 2rem;
  padding-top: 3%;
}


h4{
  font-size: 2.4rem;
  font-weight: bolder;
}

h5{
  font-family: 'Raleway';
  font-size: 1.6rem;
  line-height: 3rem;
}

h6{
  font-size: 2rem;
  line-height: 3rem;
}

.hseven{
  font-family: 'caviar_dreamsbold';
  line-height: 6rem;
  font-size: 5rem;
  margin-left: 0;
  padding-top: 10%;
}



.h3home{
  display: block;
  font-size: 2.4rem;
  line-height: 3rem;
  padding-bottom: 15%;
  padding-top: 2%;
  width: 65%;

}


.button{
  background-color: #EAA166;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 4px #AFB4B4;
  color: #07404C;
  font-family: 'caviar_dreamsbold';
  font-size: 2rem;
  margin-bottom: 10%;
  margin-left: 25%;
  margin-top: 25%;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}

.casestudy-connect{
  background-color: #EAA166;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 4px #AFB4B4;
  color: #07404C;
  font-family: 'caviar_dreamsbold';
  font-size: 2rem;
  margin-bottom: 10%;
  margin-left: 25%;
  margin-top: 25%;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}



 .email{
   text-decoration: none;
 }

.button-connect{
  background-color: #EAA166;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 4px #AFB4B4;
  color: #07404C;
  font-family: 'caviar_dreamsbold';
  font-size: 2rem;
  margin-bottom: 10rem;
  padding: 15px 32px;
  text-decoration: none;
  text-align: center;
}

.button:hover{
  box-shadow: 0px 10px 10px #AFB4B4;
  color: #04262d;
  background: #EAC6A8;
}

.button-connect:hover{
  box-shadow: 0px 10px 10px #AFB4B4;
  color: #04262d;
  background: #EAC6A8;
}

.casestudy-connect:hover{
  box-shadow: 0px 10px 10px #AFB4B4;
  color: #04262d;
  background: #EAC6A8;
}


.buttoncasestudy:hover{
  box-shadow: 0px 10px 10px #AFB4B4;
  color: #04262d;
  background: #EAC6A8;
}

.spacer{
  height: 5%;
}

.spacer2{
  height: 15%;
}


/*************************** HOMEPAGE*************************/

/* CAPSTONE PROJECT*/

hr{
border: 5px solid #E6ECED;
height: 5px;
stroke: none;

}

.projectlineimg{
background-color: #E6ECED;
height: 5px;
}

.projectlinebottom1{
background-color: #E6ECED;
height: 5px;
margin-top: 75px;
margin-bottom: 0;
}

.capstoneproject {
  color: #07404C;
  display: flex;
  margin-bottom: 3%;
  margin-top: 5%;
  width: 100%;
}

.capstone{
  /*background-color: #FDEACE;*/
  flex: 1;

}

.capimage{
  flex: 1;
}


.homedescription {
  margin-left: auto;
  margin-right: auto;
  padding-left: 25%;
  padding-right: 25%;
}

img.tvpreview{
  width:50%;
}

/* COMMONCORE PROJECT*/
.commoncoreproject{
  color: #07404C;
  display:flex;

}

.commoncore{
  /*background-color: #BFD5DA;*/
  flex: 1;

}

.ccfimage{
  flex: 1;
  width: 100%;
}


img.ccfpreview{
  width: 100%;
}



/*************************** ABOUT*************************/

.abouttext{
  padding-bottom: 0;
}

.lastp{
  margin-bottom: 6%;
}



/*************************** COMMON CORE FINDER *************************/



/**** PROJECT INTRO ****/
.introduction{
  padding-bottom: 10%;
  padding-top: 3%;
}

.introductionccf{
  padding-bottom: 10%;
  padding-top: 5%;
}


/**** DELIVERABLES ****/
.deliv-description{
  background-color: #F2F1F1;
  display: flex;
  padding-bottom: 3%;
  padding-top: 3%;
}

.role{
  margin-left: 25%;
  width: 30rem;
}

.tools{
  width: 30rem;
}

.deliverables{
  width: 30rem;
}

.deliv{
  font-size: 3.125rem;
  line-height: 4rem;
  margin-left: 0;
}

.delivs{
  font-size: 1.6rem;
  line-height: 3rem;
  list-style-type: none;
}

/**** DISCOVERY AND RESAERCH ****/

.casestudysection{
  background-color: #FDEACE;
  font-family: 'caviar_dreamsregular';
  margin-left: 0;
  margin-top: 5%;
  margin-bottom: 2%;
  margin-right: 45%;
  padding-left: 25%;
  padding-top: 2%;
  font-size: 3.9rem;
}

.onesixbold{
  font-size: 2.4rem;
  font-weight: bolder;
  line-height: 4rem;
  margin-left: 27%;
}

.most{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25%;
  padding-right: 25%;
}

.mostleft{
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 2.4rem;
  line-height: 6.5rem;
  padding-bottom: 2rem;
}

.mostright{
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 2.4rem;
  line-height: 6.5rem;
  padding-bottom: 2rem;
  padding-left: 4%;
}

.percent{
  display: flex;
  padding-bottom: 5%;
  padding-top: 5%;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  padding-left: 20%;
  padding-right: 20%;
  line-height: 4rem;
}

.eight{
  background-image: url("../img/crmcircle.png");
  background-repeat: no-repeat;
  margin-right: 5%;
}

.sixtysix{
  background-image: url("../img/bluecircle.png");
  background-repeat: no-repeat;
  margin-right: 5%;
}

.eightythree{
  background-image: url("../img/crmcircle.png");
  background-repeat: no-repeat;

}


.squaretext{
  background-color: #F2F1F1;
  font-family: 'Raleway';
  font-size: 2.4rem;
  line-height: 4rem;
  margin-left: 25%;
  margin-bottom: 5%;
  padding: 5% 5% 5% 5%;
  width: 50%;
}

.squaretextblue{
  background-color: #BFD5DA;
  font-family: 'Raleway';
  font-size: 2rem;
  line-height: 4rem;
  margin-bottom: 5%;
  margin-left: 25%;
  padding: 5% 5% 5% 5%;
  width: 50%;
}

/***** The Competition ******/


.competition{
  font-size: 1.6rem;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 5%;
  text-align: left;
  width: 100%;
  padding-left: 25%;
  padding-right: 25%;
}


.comps{
  font-size: 2rem;
  font-family: 'Raleway';
  line-height: 3rem;
  margin-top: 5%;
  margin-bottom: 5%;
}


b.comps{
  text-align: left;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: bolder;
}

.pinterest{
  flex: 1;
  padding-right: 5%;
}

.pinimg{
  margin-bottom: 10%;
}

.googlec{
  flex:1;
  padding-right: 5%;
}

.tpayt{
  flex:1;
}



/***** USER PERSONAS ******/


.personas{
  display: flex;
  margin-left: 25%;
  margin-bottom: 5%;
  margin-top: 1%;
}

.personaimg{
  padding-bottom: 10%;
}

.tvpersonaimg{
  padding-top: 5%;
  padding-bottom: 10%;
  width: 30%;
}

.alana{
padding-left: 10%;
}

.personatxt{
  font-family: 'Raleway';
  font-size: 2rem;
  line-height: 3rem;
}

.buttoncasestudy{
  background-color: #EAA166;
  border: none;
  box-shadow: 0px 4px 4px #AFB4B4;
  border-radius: 5px;
  color: #07404C;
  font-family: 'caviar_dreamsbold';
  font-size: 2rem;
  margin: 25% 0% 25% 25%;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}


.audience{
  width: 30rem;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 3%;
  margin-left: 25%;
  background-color: #BFD5DA; /*blue*/
  line-height: 4rem;
}

.priorities{
  background-color: #FDEACE; /*cream*/
  margin-left:35%;
  margin-bottom: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 7%;
  width: 50rem;
  line-height: 4rem;
}

/*
li{
  font-size: 2rem;
  line-height: 3rem;
  width: 72rem;
}
*/

/****** USER FLOWS *****/

.userflows{
  margin-left: 25%;
  padding-bottom: 5%;
}


.ufsketch{
  padding-bottom: 5%;
  width: 75%;
}

.ufvector{
  padding-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.tvufvector{
  text-align: center;
  padding-bottom: 5%;
  margin-left: 10%;
  width: 50%;
}



/****** WIREFRAMES ************/

.wireframes{
  display: inline;
  margin-left: 16rem;
  padding-bottom: 5%;
  width: 80rem;
}

.wireframesketch{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.wireframevector{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  width: 50%;
}

.whatchange{
  margin-left: 25%;
  margin-right: 25%;
}

.addmargin{
  margin-left: 25%;
}

li{
font-family: 'Raleway', sans-serif;
font-weight: normal;
font-size: 2.4rem;
line-height: 4rem;
padding-top: 1%;
padding-bottom: 2%;
}


/***************** VISUAL DESIGN ********************/

.threetimes{
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.centerimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.tvcenterimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width:100%;
  padding-bottom: 5%;
  padding-left: 25%;
  padding-right: 25%;
}

.tvcenterimg2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width:100%;
  padding-bottom: 5%;
}

.tvcenterimg3{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width:50%;
  padding-bottom: 5%;
}

.tvbranding{
  width:25%;
}

.centerimgsmaller{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom:5%;
}

.usertest{
  margin-top: 500px;
}

.update{
  margin-left: 25%;
  padding-top: 5%;
  padding-bottom: 5%;

}


ul{
  list-style-type: disc;
  margin-left: 5%;
}


/*.brainstormname{
  display: flex;
  list-style: none;

  margin-bottom: 5%;
  padding-bottom: 3%;
  padding-left: 9%;
  padding-top: 3%;
  width: 50%;
}
*/
.keyword{
  width: 40rem;
  line-height: 3rem;
  margin-left: 25%;
  padding-top: 3%;
  padding-left: 3%;
  padding-bottom: 3%;
  background-color: #FDEACE;
}

.names{
  width: 35rem;
  line-height: 3rem;
  margin-left: 45%;
  padding-top: 3%;
  padding-left: 3%;
  padding-bottom: 3%;
  background-color: #BFD5DA;
}


/* CONCLUSION */

.conclusiontxt{
  padding-top: 3%;
  padding-bottom: 3%;
}

.back{
  text-align: center;
  font-family: 'caviar_dreamsregular';
  font-size: 20rem;
  padding-bottom: 5%;
}

.down{
  color: #000000;
  text-align: center;
  font-family: 'caviar_dreamsregular';
  font-size: 20rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5%;
  width: 20%;
}

.up{
  color: #000000;
  text-align: center;
  font-family: 'caviar_dreamsregular';
  font-size: 20rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5%;
  width: 20%;
}

.upproject{
  color: #000000;
  text-align: center;
  font-family: 'caviar_dreamsregular';
  font-size: 20rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5%;
  width: 20%;
}


img.backtotop{
  width: 10rem;
  height: 10rem;
}



.totop{
  padding-top: 1%;
  text-decoration:none;
  color: #000000;
}

.totop:hover{
  color: #07404C;
  font-size: 2.4rem;
}

/***************************  FOOTER ***************************************/


footer{
  background-color: #E6ECED;
  color: #07404C;
  display: inline-block;
  width: 100%;
  list-style-type: none;
}


.footertext{
  flex: 1;
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 2rem;
  text-align: center;
}


.socialicon{
  display: flex;
  padding-left: 35%;
  padding-right: 35%;
  margin-bottom: 1%;
  list-style-type: none;
  margin-left: 0;

}

.social{
  margin: 0 auto;
  padding-top: 1%;
  padding-bottom: 2%;
  list-style-type: none;


}


/* SOCIAL ICONS*/

img.mail{
  height: auto;
  width: 5rem;
}

img.git{
  height: auto;
  width: 5rem;
}

img.linkedin{
  height: auto;
  width: 5rem;
}

img.insta{
  height: auto;
  width: 5rem;
}



/*************************** MEDIA QUERIES *************************/

/****************************IPAD LANDSCAPE**************************/
@media screen and (max-width: 1115px) {

  .container{
    background-size: 1115px;
  }


  .navbar{
    padding-right: 1rem;
    padding-left: 0;

  }

.logotxt{
  padding: 2%;
  width: 80%;
}

  .landinglogo{
    display: flex;
    margin: 1%;
    padding-left: 10%;
    margin-right: 0;
  }

.hseven{
  display:none;
}

.down{
  width: 25%;
}

.up{
  width: 25%;
}

.most{
  display: block
}

.priorities{
  margin-left: 20%;
}

}


/****************************IPAD PORTRAIT****************************/
@media screen and (max-width: 990px) {


  img.headshot {
  display: block;
  width: 25%;
  }

  .herorightipad{
    display: flex;
      background-color: #BFD5DA;
  }

  .heroright{
    display: none;
  }

  .heroleft{
    background-color: none;
  }

  .headshotipad{
    padding-left: 10%;
    padding-top: 5%;
    width: 35%;
    height: 25%;

  }

  .down{
    font-size: 10rem;
    color: #000000;
    padding-top: 10%;
  }

  .up{
    font-size: 10rem;
    color: #000000;
    padding-top: 10%;
  }

.container{
  width: 100%;
  background-image: none;
  margin: 0 auto;
}

.container2{
  width: 100%;
  background-image: none;
  margin: 0 auto;
}

h1{
  margin-left: 10%;
}

h2{
  margin-left: 20%;
  padding-top: 10%;
}

p{
  font-size: 2.4rem;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 5%;
}

.button{
  margin-top: 10%;
  margin-left: 20%;
  margin-right: auto;
  margin-bottom: 50px;
}



.button-connect{
  margin-left: auto;
  margin-right: auto;
}




.logotxt{
  height: 85%;
  width: 80%;
  display:none;

}

.landinglogo{
  flex:.5;
  padding-left: 9%;
  padding-bottom: 1%;
}

.cdlogo {
 margin-left: none;
 padding-left: none;
 margin-bottom: 0;
 margin-bottom: 0;

}

.header-homepage{
  padding: 0;
  margin: 0;
}

.header-other{
  padding-top: 1%;
  margin-bottom: 1%;

}

.navbar {
  display: flex;
  margin-top: 2%;
  margin-bottom: 0;
  padding-right: 0;
  margin-left: 10%;
}

.mobilename{
  background-color:#BFD5DA;
  display: block;
  font-size: 4rem;
  font-family: 'caviar_dreamsbold';
  margin-right: auto;
  margin-left: auto;
  color: #07404C;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;

}

.heroleft{
  background-color:#BFD5DA;
  margin-left: auto;
  margin-right: auto;
  height:375px;
  margin-top: 0;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  text-decoration: none;
}

.hero{
  padding-left: 0;
  display:block;
}

.mobilelanding{
  background-color: #BFD5DA;
}

.h3home{
  background-color: #BFD5DA;
  display: block;
  margin-left: 0;
  margin-top: 2%;
  padding-bottom: 10%;
}

.logomobile{
  width: 45%;
  padding-left: 5%;
}

.capimage{
  display:none;
}

.ccfimage{
  display: none;
}

.projectline{
  margin-top: 15%;
}
.capstone{
  flex:none;
  height: 450px;
  margin-bottom: 0;
}

.capstoneproject{
  display:block;
  margin-top: 50px;
  margin-left: 0;
  padding-bottom: 0;
}

.projectlinebottom{
  display: none;
}

.projectlineimg{
  display: none;
}

.homedescription{
  padding-left: 10%;
  padding-right: 10%;

}

.commoncoreproject{
  display:block;
  margin-top: 50px;
  padding-bottom: 0;
}

.commoncore{
  height:550px;
}

.hero{
  display:block;

}

.hero-about{
  padding-bottom: 10%;
  background-color:#BFD5DA;
  margin-bottom: 10%;
  margin-top: 0;
  padding-top: 5%;
}

.heroleft-about{
  padding-left:0;
  margin-top: auto;
  margin-bottom: auto;

}
img.headshot-about{
  width:60%;
}

.ccfpreview{

}

.spacer2{

}

/*****************************CASESTUDY IPAD (PORTRAIT max 990)*****************************/



.centerimg{
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.centerimgsmaller{
  width: 60%;
  margin-left: 20%;
}

.project-hero{
  background-color: #BFD5DA;
  display: flex;
  width: 100%;
  height: 60%;
  margin-top: 0px;
}
.project-heroccf{
  background-color: #BFD5DA;
  display: flex;
  width: 100%;
  height: 60%;
  margin-top: 0px;
}

.ccfdesktop{
  width: 100%;
  padding-bottom: 5%;
  padding-top: 10%;
}
/*
.project-right-mobile{
  display: inline;
  margin-left: 25%;
  margin-top: 3%;
  width: 100%;
}
.project-right{
  display: none;
}*/

.project-left{
  padding-top: 25%;
  padding-left: 5%;
}

.project-right{
  margin-left: 0;
  margin-right: 10%;
  margin-top: 1%;
}

.project-leftccf{
  padding-top: 10%;
  padding-left: 0;
  margin-left: 0;
}

.project-rightccf{
  margin-left: 0;
  margin-right: 10%;
  margin-top: 1%;
}

.tvtellhero2{
  width: 80%;
  margin-left: 0%;
  margin-bottom: 5%;
}

.ccf-title{
  padding-left: 0;
  padding-top: 0;
  margin-left: 20%;
}

.ccf-text{
  padding-left: 0;
  padding-top: 0;
  margin-left: 20%;
  margin-bottom: 10%;
  padding-right: 10%;
}

.introduction{
  padding-top: 10%;
}

h2{
  padding-top: 5%;
}


.role{
  padding: 1%;
  margin-left:10%;
}
.deliverables{
  padding: 0%;
  margin-right: 10%;
}

.deliv-description{
  margin-left: auto;
  margin-right: auto;

}

.tools{
  padding:0%;
}

.twolist{
  margin-bottom: 1%;
}

.casestudysection{
  margin-right: auto;
  margin-left: auto;
  padding-left: 10%;
  margin-top: 10%;
}

.onesixbold{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.most{
  display:block;
  padding-left: 20%;
  padding-right: 10%;
}

.mostright{
  padding-left: 0;
}

.percent{
  display:flex;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.eight{
  background-size: contain;
  flex: 1;
}

.sixtysix{
  background-size: contain;
  flex: 1;
}

.eightythree{
  background-size: contain;
  flex: 1;
}

.squaretext{
  width:60%;
  margin-left: auto;
  margin-right: auto;
}

.competition{
  text-align: left;
  padding-top: 5%;
  padding-left: 0;
  padding-right: 0;
  width:80%;

}

.pinterest{
  padding-bottom: 10%;
}

.googlec{
  padding-bottom: 10%;
  line-height: 3rem;
}

.squaretextblue{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}

.personas{
  width: 60%;
  margin-left:20%;

}

.courtney{
  padding-top: 0%;
}

.alana{
  padding-left: 20%;
  padding-top: 0%;
  padding-bottom: 10%;
}



h6{
  line-height: 3rem;
  width: 80%;
}

b{
  font-size: 1.6rem;
  font-weight: bolder;
  line-height: 3rem;

}
.comps{
  font-size: 2rem;
  line-height: 3rem;
}
.buttoncasestudy{
  margin-left: 20%;
}

.audience{
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-top: 5%;
  width: 35%;
}

.priorities{
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
  width:35%;
}

.userflows{
  padding-top: 5%;
  margin-left: 0;
}

.ufsketch{
  width: 100%;
}

.ufvector{
  width: 100%;
}

.whatchange{
  margin-left: auto;
  margin-right: auto;
  padding-left: 20%;
  padding-top: 10%;
}

.brainstormname{
  padding: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.keyword{
  padding-left: 5%;
  padding-top: 5%;
}

.names{
  padding-left: 5%;
  padding-top: 5%;
}

.addmargin{
 padding-left: 10%;
 margin-left: 10%;
 font-weight: bold;
}

.heroleft-about{
  padding-left: 30%;
}

.threetimes{
  width: 80%;
}

.update{
  margin-left: 10%;
  margin-bottom: 0;
}


.casestudy-connect{
  margin-left: 20%;
}

h6{
  margin-left: 10%;
}

.tvcenterimg{
  padding-left: 10%;
  padding-right: 10%;
}

/*FOOTERIPAD*/



.footer{
  background-color: #E6ECED;
}

.footertext{
  padding-bottom: 0;
  padding-left: 25%;
  padding-top: 1%;
  font-size: 2rem;

}

.socialicon{
  padding-top: 2%;
  padding-left: 30%;
  padding-right: 30%;
  padding-bottom: 2%;
}

}

/*********************** IPAD 768 ******************/
@media screen and (max-width: 768px) {



li{
  padding-bottom: 0;
}

.hero-about{
  margin-bottom: 5%;
  padding-bottom: 10%;
}



.heroleft-about{
  padding-left: 6%;
    margin-top: 0%;
}

.headshot-about{
  padding-left: 22%;
  width: 70%;
}


  .navigationbar{
    width: 100%;
  }

  .landinglogo {
    padding-right: 8%;
    padding-left: 10%;
    margin-left: 0;
  }

  .navbar{
    padding: 5%;
    margin-left: 0;
  }

  h2{
  margin-left: 10%;
}

p{
  padding-left: 10%;
  margin-left: auto;
  margin-right: auto;
}

.mobilename{
  padding-bottom: 0;
}

.h3home{
  margin-top: 0;
  padding bottom: 800px;
}

.hero{
  height: 30%;
}

.heroleft{
  padding-top: 2%;
  height: 325px;
}

.capstoneproject{
  margin-bottom: 20%;
}

.commoncoreproject{
  margin-top: 75px;
}

.projectline{

  margin-bottom: 0;
}

.logomobile{

}

.down{
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
}


.capstone{
  height: 325px;
}

.button{
  margin-left: 10%;
}

.commoncore{
  height: 300px;
}

.projectlinebottom1{
  margin-top: 25%;
}

.footertext{
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}

.socialicon{
  padding-bottom: 0;
}

.footer{
  padding-top: 20%;
}


/****** Casestudy IPAD 768 ******/



.project-hero{
  display: flex;
  height: 56%;
  width: 100%;
}

.project-heroccf{
  display: flex;
  height: 43%;
  width: 100%;
}

.project-right-mobile{
  display: inline;
  width: 50%;
  padding-left: 7%;
  padding-right: 6%;
  padding-top: 2%;
}

.project-right-mobileccf{
  background-color: #BFD5DA;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project-right{
  display: none;
}

.project-rightccf{
  display: none;
}
.project-leftccf{
  flex: 100;
  margin-left: 0%;
  margin-right: 0;

}

.ccfdesktop{
  padding-right: 10%;
}

.ccfdesktopmobile{
  width: 100%;
  padding-top: 5%;
  padding-left: 9%;
  padding-right: 9%;
  padding-bottom:0%;
}

.project-left{
  padding-top: 15%;
  margin-left: 0%;
}


.tvtellhero2{
width: 100%;
}

.tv-text{
  padding-right: 16%;
  padding-bottom: 20%;
}

.ccf-title{
  margin-left: 10%;
}
.ccf-text{
  margin-left: 10%;
}

.introduction{
  padding-top: 5%;
}

.onesixbold{
  width: 75%;
}

.percent{
  display: inline-block;
  width: 100%;
  padding-left: 1%;
  padding-right: 1%;
}

.threelist{
  margin-left: auto;
  margin-right: auto;
  width:45%;
  padding-top: 1%;
  padding-bottom: 8%;
  padding-left: 10%;
  padding-right: 5%;
}

.threelistccf{
  margin-left: auto;
  margin-right: auto;
  width: 38%;
  padding-top: 1%;
  padding-bottom: 6%;
  padding-left: 8%;
}

.squaretext{
  width: 80%;
}

.squaretextblue{
  width: 80%;
}

.buttoncasestudy{
  margin-left: 10%;
}

.most{
  padding-left: 10%;
}

.tvpersonaimg{
  width: 60%;
}

.audience{
  width: 40%;
  padding-left: 7%;
}
.priorities{
  width: 60%;
  padding-left: 15%;

}

.ipadp{
  padding-left: 10%;
  padding-right: 20%;
}

.tvufvector{
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}

.tvcenterimg3{
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}

.whatchange{
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 18%;
  padding-right: 18%;
}

.brainstormname{
  padding-top: 0;
  margin-left: 0%;
  width: 60%;
}


.keyword{
  width: 50rem;
  padding-left: 10%;
  padding-top: 10%;
  margin-right: 0%;
  margin-left: 10%;
}

.names{
    padding-left: 10%;
    padding-top: 10%;
    padding-right: 0%;
    margin-right: 0%;
    margin-left: 60%;
}

.addmargin{
  margin-left: 10%;
  padding-left: 0;
}

.up{
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.totop{
  margin-bottom: 10%;
}

.casestudy-connect{
  margin-left: 10%;
}


}

/*****************************MOBILE*****************************/
@media screen and (max-width: 575px) {

  img.headshot {
    display: none;
  }

.container{
  width: 100%;
  background-image: none;
  margin: 0 auto;
}

.container2{
  width: 100%;
  background-image: none;
  margin: 0 auto;
}

h1{
  padding-top: 10%;
  margin-left: 10%;
}

h2{
  margin-left: 10%;
  padding-top: 10%;
}

p{
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
}

h6{
  font-size: 2rem;
}

.button{
  margin-top: 10%;
  margin-left: 10%;
  margin-right: auto;
}

.button-connect{
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
}


.logotxt{
  height: 85%;
  width: 80%;
  display:none;

}

.landinglogo{
  flex:.3;
  padding-left: 10%;
  padding-right: 10%;
}

.cdlogo {
 margin-left: none;
 padding-left: none;

}

.header-homepage{
  padding: 0;
  margin: 0;
}


.navigationbar{
  width: 50%;
}

.navbar {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 0;
  margin-left: 15%;
  font-size: 2rem;

}

.mobilename{
  background-color:#BFD5DA;
  display: block;
  font-size: 4rem;
  font-family: 'caviar_dreamsbold';
  margin-right: auto;
  margin-left: auto;
  color: #07404C;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;

}

.heroleft{
  background-color:#BFD5DA;
  margin-left: auto;
  margin-right: auto;
  height:300px;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  text-decoration: none;
}

.hero{
  padding-left: 0;
  display:block;
  height: 40%;
}

.mobilelanding{
  background-color: #BFD5DA;
}

.down{
  padding-top: 10%;
  font-size: 5rem;
  color: #000000;
}

.up{
  padding-top: 10%;
  font-size: 5rem;
  color: #000000;
}

.h3home{
  background-color: #BFD5DA;
  display: block;
  margin-left: 0;
  margin-top: 2%;
}

.logomobile{
  width: 100%;
}

.ccfpreview{
  display: none;
}

.capstone{
  flex:none;
  height: 475px;
  margin-bottom: 15rem;
}

.capstoneproject{
  display:block;
  margin-left: 0;
  padding-bottom: 0;
}

.homedescription{
  padding-left: 10%;
  padding-right: 10%;

}

.commoncoreproject{
  display:block;
  padding-bottom: 5rem;
}

.commoncore{
  height:375px;
}

.hero{
  display:block;

}

.hero-about{
  padding-bottom: 10%;
  background-color:#BFD5DA;
  margin-bottom: 10%;
  margin-top: 0;
  padding-top: 5%;
  display: block;
}

.heroleft-about{
  padding-left:0%;
  margin-top: auto;
  margin-bottom: auto;
}

.heroright-about{
  margin-left: 35%;

}

img.headshot-about{
  display:none;
  /*text-align: center;
  margin-left: auto;
  margin-right: auto;*/
}

.ccfpreview{

}

.spacer2{

}

/*****************************MOBILE CASE STUDY CASESTUDY MOBILE*****************************/
.centerimg{
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}


.tvcenterimg2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width:100%;
  padding-bottom: 5%;
}

.tvcenterimg{
  width: 100%;
}


.tvcenterimg3{
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}


.centerimgsmaller{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.project-hero{
  background-color: #BFD5DA;
  display: block;
  width: 100%;
  height: 100%;
}

.project-heroccf{
  background-color: #BFD5DA;
  display: block;
  width: 100%;
  height: 100%;
}

.tvtellhero2{
  margin-left: 50%;
  width:100%;
  padding-bottom: 15%;
}

.ccfdesktop{
  padding-bottom: 10%;
  width: 200%;
}

.ccf-title{
  margin-left: 0;
  margin-right: 0;
  padding-left: 10%;
  padding-right: 10%;
}

.ccf-text{
  margin-left: 0;
  margin-right: 0;
  padding-left: 10%;
  padding-right: 10%;
}



.project-right-mobile{
  display: block;
  width: 50%;
  margin-left: 0;
  margin-right: 0;
}

.project-right{
  display:none;
}

.project-left{
  padding:0;
}


.role{
  margin-left: 5%;
}
.deliverables{
  margin-right: 5%;
}

.tools{
  margin-left: 5%;
}

.casestudysection{
  margin-right: auto;
  margin-left: auto;
  padding-left: 10%;
  margin-top: 10%;
}

.onesixbold{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-size: 2rem;
}

.most{
  display:block;
  padding-left: 10%;
  padding-right: 10%;
}

.percent{
  display:block;
  width: 80%;
  padding:0;
}

.eight{
  margin-top: 10%;
  background-image: none;
}

.sixtysix{
  background-image: none;
}

.eightythree{
  background-image: none;

}

.threelist{
  width:100%;
  background-image: none;
}

.threelistccf{
  width:100%;
  background-image: none;
}

.squaretext{
  width:80%;
  margin-left: auto;
  margin-right: auto;
}

.greybox{
  margin: 45px;
}

.competition{
  text-align: left;
  padding-top: 5%;
  padding-bottom: 5%;
  width:80%;
  display:block;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-right: auto;
}

b.comps{
  font-size: 2rem;
}

.pinterest{
  padding-bottom: 10%;
  padding-right: 0px;
}

.googlec{
  padding-bottom: 10%;
  line-height: 3rem;
  padding-right: 0px;
}

.squaretextblue{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15%;
}

.personas{
  display:block;
}

.personatxt{
  font-size: 2rem;
}

.courtney{
  padding-top: 10%;
  padding-bottom: 10%;
}

.alana{
  padding-left: 0;
  padding-top: 10%;
  padding-bottom: 10%;
}
h6{
  line-height: 3rem;
  width: 80%;
}
.comps{
  font-size: 2rem;
  line-height: 3rem;
}
.buttoncasestudy{
  margin-left: 10%;
}

.audience{
  margin-left: auto;
  margin-right: auto;
  padding-left: 15%;
  width: 80%;
}

.priorities{
  margin-left: auto;
  margin-right: auto;
  padding-left: 15%;
  width:80%
}

.tvufvector{
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.userflows{
  padding-top: 5%;
  margin-left: 0;
}

.ufsketch{
  width: 100%;
}

.ufvector{
  width: 100%;
}

.whatchange{
  margin-left: auto;
  margin-right: auto;
  padding-left: 10%;
  padding-top: 10%;
}

.brainstormname{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.threetimes{
  width: 100%;
}

.casestudy-connect{
  margin-left: 10%;
}

/*FOOTERMOBILE*/



.footertext{
  padding-top: 1%;
  padding-left: 0%;
  padding-bottom: 1%;
  font-size: 1.6rem;
}

.socialicon{
  padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
}
.projectlinebottom1{
  margin-top: 30%;
}
}


/*****************************MOBILE SMALL*****************************/
@media screen and (max-width: 375px) {

.landinglogo{
  padding-right: 0;
  padding-left: 10%;
}

.navbar{
  margin-left: 2%;
}

.project-hero{
  background-color: #BFD5DA;
  display: block;
  width: 100%;
  height: 128%;
}
.project-heroccf{
  background-color: #BFD5DA;
  display: block;
  width: 100%;
  height: 45%;
}

.tvtellhero2{
  padding-left: 0;
}

.tv-text{
  padding-bottom: 10%;
}

.headshotipad{
  padding-top: 8%;
}

.heroleft{
  height: 305px;
}

.heroright{
  padding-top: 25%;
}


.abouttext{
  padding-bottom: 20%;
}

.h3home{
  padding-bottom: 20%;
}

.ccfdesktopmobile{
  padding-top: 10%;
}

.tvtellhero2{
  margin-left: 0;
  margin-top: 5%;
  margin-bottom: 0;
  padding-bottom: 10%;
}

.project-right-mobile{
  width: 90%;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}

.down{
  padding-top: 0;
}

.up{
  padding-top: 0;
}

.commoncoreproject{
  margin-top: 0;
}

.capstone{
  margin-bottom: 10rem;
}

.project-left{
  margin-top:0;
}


/**** caasestudy mobile 375****/

.keyword{
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-right: 10%;
}

.names{
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-right: 10%;
}

.down{
  margin-bottom: 10%;
}

.onesixbold{
  padding-left: 5%;
}

.mostleft{
  padding-left: 2%;
}

.mostright{
  padding-left: 2%;
    padding-right: 10%;
}

.percent{
  margin-top: 5%;
  padding-right: 10%;
}

.twolist{
  width: 110%;
}

.threelist{
  padding-left: 20%;
  padding-right: 10%;
  padding-bottom: 20%;
  padding-top: 20%;
  width: 110%;
}

.squaretextblue{
  width: 100%;
  padding-left: 10%;
  padding-right: 12%;
}

.personas{
  margin-left: 15%;
  margin-right: auto;
}

li.personatxt{
  padding-left: 5%;
  list-style-type: none;
}



}
